# BLU01 - Exercises Notebook

**Important Note**

Attention Windows users: The grader will run on Linux, and using power shell statements will not work.

In [1]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to count lines

In [10]:
# Count the total number of lines of files data/exercises/surfing.txt and data/exercises/body_boarding.txt
# and store the result in variable count_total.  
# There is more than one way to do this. Hint: concatenate both files.
count_total_1 = ! wc -l < data/exercises/surfing.txt
count_total_2= ! wc -l < data/exercises/body_boarding.txt
count_total= int(count_total_1[0])+int(count_total_2[0])
count_total
# YOUR CODE HERE
#raise NotImplementedError()

44

In [11]:
expected_hash = '71ee45a3c0db9a9865f7313dd3372cf60dca6479d46261f3542eb9346e4a04d6'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash, "count_total is wrong"

Now store in 2 variables the first third and the last third of the lines existent in file data/exercises/surfing.txt.

In [20]:
# NOT GRADED optional exercise!!
# Add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total_surfing/3 for instance in the bash commands
count_total_surfing = ! wc -l < data/exercises/surfing.txt
f_3rd=int(count_total_surfing[0])/3
first_third = ! head -4 data/exercises/surfing.txt
last_third = ! tail -4 data/exercises/surfing.txt
# YOUR CODE HERE
#raise NotImplementedError()

In [21]:
first_third

['Surfing is a surface water pastime in which the wave rider, referred to as a surfer, ',
 'rides on the forward part, or face, of a moving wave, which usually carries the ',
 'surfer towards the shore. Waves suitable for surfing are primarily found in the ',
 'ocean, but can also be found in lakes or rivers in the form of a standing wave or ']

In [22]:
#Test the first_third and last_third exercise by running the following (ungraded) asserts.
assert first_third[-1][0] == 'o'
assert last_third[0][0] == 'o'

## Q2: Read a file with specific delimiter

Read file **data/exercises/surfing_sessions.csv** into a pandas DataFrame.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the last column as index.

In [27]:
# Use a shell command to preview the data
! head -2 data/exercises/surfing_sessions.csv
# YOUR CODE HERE
#raise NotImplementedError()

# Use function read_csv to read the data into a DataFrame
df2 = pd.read_csv('data/exercises/surfing_sessions.csv', sep='|', index_col=-1)
# YOUR CODE HERE
#raise NotImplementedError()

surfer|wave_power|location|visit_id
3|37,6|Rocky Point|146097

In [28]:
assert df2.loc[126903, 'location'] == 'Pupukea', "df2 data is wrong"
assert set(df2.columns) == {'location', 'surfer', 'wave_power'}, "df2 data is wrong"
assert len(df2) == 108, "df2 data is wrong"
assert df2.index[0] == 146097, "df2 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/surfing_sessions_w_problems.csv** using function `read_csv`. Pay attention to the following:
* remove all lines where the number of columns is different from the majority of lines.
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [58]:
# Read file data/exercises/surfing_sessions_w_problems.csv with read_csv
! tail -30 data/exercises/surfing_sessions_w_problems.csv
fields=['visit_id','surfer','wave_power','location']
df3 = pd.read_csv('data/exercises/surfing_sessions_w_problems.csv', sep=';', index_col=0, usecols=fields,
                 na_values= {'wave_power':['missing-data', '-1']})
df3=df3.drop([126902, 119735,126340,119736], axis=0)
#! wc -l < data/exercises/surfing_sessions_w_problems.csv
# YOUR CODE HERE
#raise NotImplementedError()

visit_id;surfer;wave_power;location
146097;3;37.6;Rocky Point
146087;3;5.7;Chuns
130395;3;-1;Noronha(Cacimba)
130363;3;5;Rocky Point
130362;3;11.3;Noronha(Conceicao)
130360;3;8.9;Noronha(Boldo)
126903;3;32.7;Pupuke
126902;3;missing-data;Pupukea;;
126591;3;9.7;Ehukai
126590;3;10.4;Changes
126341;3;8.2;Changes
126340;3;38.6;Laniakea;
125540;3;34.1;Laniakea
122199;3;14.4;Glass Doors
121170;3;34.9;Walter’s West
120454;3;-1;Gas Chambers
119736;3;21.7;Rocky Point;
119735;3;21.2;Rocky Point;;

In [59]:
#df3.index
df3['wave_power'].mean()

17.741666666666667

In [74]:
df3.dtypes

surfer          int64
wave_power    float64
location       object
dtype: object

In [60]:
assert np.isnan(df3.loc[130395, 'wave_power']), "df3 data is wrong"
assert df3.loc[126903, 'wave_power'] == 32.7, "df3  data is wrong"

mean_wave_power = df3['wave_power'].mean()
assert math.isclose(17.741, mean_wave_power, rel_tol=1e-3), "df3 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read the same file **data/exercises/surfing_sessions_w_problems.csv** using function `csv.reader()`. But now, be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with only 4 meaningful columns and then 
* replace garbage values with NaN's 
* format the columns with the right type
* set the index of the df to column `visit_id`

In [78]:
# Read file data/exercises/surfing_sessions_w_problems.csv using csv.reader() and add result to
f = open('data/exercises/surfing_sessions_w_problems.csv', 'r')

# read the csv into a list of lists
lines = list(csv.reader(f, delimiter= ';'))
lines = [i[:4] for i in lines]
f.close() 
# YOUR CODE HERE
#raise NotImplementedError()
# create a dataframe using the line list with only 4 columns
df4 = pd.DataFrame(lines[1:], columns=lines[0])
# YOUR CODE HERE
#raise NotImplementedError()
# replace invalid values with nan (np.nan)
df4['wave_power'] = df4['wave_power'].replace({'missing-data':np.nan, '-1': np.nan})
# YOUR CODE HERE
#raise NotImplementedError()
# set types per dataframe column (always use int64 when int's are needed)
df4['visit_id'] = df4['visit_id'].astype('int64')
df4['surfer'] = df4['surfer'].astype('int64')
df4['wave_power'] = df4['wave_power'].astype('float64')
df4['location'] = df4['location'].astype('object')
#raise NotImplementedError()
# set a new index to the dataframe
df4=df4.set_index('visit_id')
#raise NotImplementedError()

In [79]:
df4.head(20)

          surfer  wave_power            location
visit_id
146097         3        37.6         Rocky Point
146087         3         5.7               Chuns
130395         3         NaN    Noronha(Cacimba)
130363         3         5.0         Rocky Point
130362         3        11.3  Noronha(Conceicao)
130360         3         8.9      Noronha(Boldo)
126903         3        32.7              Pupuke
126902         3         NaN             Pupukea
126591         3         9.7              Ehukai
126590         3        10.4             Changes
126341         3         8.2             Changes
126340         3        38.6            Laniakea
125540         3        34.1            Laniakea
122199         3        14.4         Glass Doors
121170         3        34.9       Walter’s West
120454         3         NaN        Gas Chambers
119736         3        21.7         Rocky Point
119735         3        21.2         Rocky Point

In [80]:
assert np.isnan(df4.loc[130395, 'wave_power']), "df4 content is wrong"
assert df4.loc[126340, 'wave_power'] == 38.6, "df4 content is wrong"

mean_wave_power = df4['wave_power'].mean()
assert math.isclose(19.626, mean_wave_power, rel_tol=1e-3), "df4 content is wrong"

assert df4['surfer'].dtype == np.int64, "df4 types are wrong"
assert df4['location'].dtype == object, "df4 types are wrong"
assert df4['wave_power'].dtype == float, "df4 types are wrong"
assert df4.index.dtype == np.int64, "df4 types are wrong"


expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [92]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json
#! cat data/exercises/portugal_production_of_electricity_gwh.json
df5 = pd.read_json('data/exercises/portugal_production_of_electricity_gwh.json', orient='table')
#df5.head()
# YOUR CODE HERE
#raise NotImplementedError()

In [94]:
df5

,Year,Total,Total renewables,Hydropower > 10MW,Hydropower < 10MW,Biomass,Windpower,Geothermal power,Photovoltaic
0,1995,33264,9501,7962,492,988,16,42,1
1,1996,34520,15895,14007,658,959,21,49,1
2,1997,34207,14301,12537,638,1036,38,51,1
3,1998,38984,14224,12488,566,1022,89,58,1
4,1999,43287,8915,7042,589,1081,122,80,1
5,2000,43764,13260,11040,675,1296,168,80,1
6,2001,46509,16083,13605,770,1345,256,105,2
7,2002,46107,10190,7551,706,1473,362,96,2
8,2003,46852,18037,15163,891,1394,496,90,3
9,2004,45105,12597,9570,577,1547,816,84,3
10,2005,46575,8616,4737,381,1651,1773,71,3
11,2006,49041,16187,10633,834,1704,2926,85,5
12,2007,47253,16593,9927,522,1882,4037,201,24
13,2008,45969,15140,6781,517,1852,5757,192,41
14,2009,50207,19017,8108,901,2087,7577,184,160
15,2010,54093,28755,15459,1088,2614,9182,197,215
16,2011,52465,24691,11294,820,2923,9162,210,282
17,2012,46614,20410,6093,567,2951,10260,146,393
18,2013,51673,30610,13701,1167,3051,12015,197,479
19,2014,52802,32405,15071,1341,3049,12111,205,627
20,2015,52423,25514,9048,752,3104,11608,204,799
21,2016,60279,33448,15689,1221,3070,12474,172,822
22,2017,59432,24309,7009,623,3220,12248,217,992

In [93]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewables','Windpower','Year'}, "df5 columns are wrong"

expected_hash = '48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash, "df5 content is wrong"

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "metadata"
* use column 'Serie' as index
* make sure you keep only the rows and columns with data
* set the variable distinct_scales with the number of ... distinct scales found in the table

In [103]:
#! pip install xlrd==1.2.0
#! pip install lxml==4.5.2
#! pip install openpyxl==3

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 3.1 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 2.0.1
    Uninstalling xlrd-2.0.1:
      Successfully uninstalled xlrd-2.0.1
Successfully installed xlrd-1.2.0

In [109]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel
import os
df6 = pd.read_excel(os.path.join('data', 'exercises','portugal_gas_emissions_per_year.xlsx'), sheet_name="metadata")
df6
# YOUR CODE HERE
#raise NotImplementedError()

#distinct_scales = ...
# YOUR CODE HERE
#raise NotImplementedError()

XLRDError: Excel xlsx file; not supported

In [ ]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash, "df6 is wrong"

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 2377.

In [126]:
# Find the encoding of file data/exercises/cities.csv
#encoding = 'IBM866'
#chardet.detect(open(os.path.join('data', 'exercises', 'cities.csv'), 'rb').read())
# YOUR CODE HERE
#raise NotImplementedError()
# Read the file into a DataFrame
df7 = pd.read_csv(os.path.join('data', 'exercises', 'cities.csv'), encoding='IBM866')
df7
# YOUR CODE HERE
#raise NotImplementedError()

# Find the name of the city with distance = 2377
city_found = df7.City[df7.distance==2377] #(assign a string)
city_found
# YOUR CODE HERE
#raise NotImplementedError()

6    Агидель
Name: City, dtype: object

In [123]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1, "encoding is wrong"

expected_hash_2 = '22522b6940ec2bcc42ea98f55878bee105c27254c4340fbce9fbc951b5aed078'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2, "city_found is wrong"

AttributeError: 'Series' object has no attribute 'encode'

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 10 rows. Count the actual lines with `wc`

In [134]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file (as an integer), using 
lines_in_file = ! wc -l < data/exercises/world_percentage_of_literacy.tsv
# Notice that the header is not a line..
lines_in_file = int(lines_in_file[0])-1
lines_in_file
# YOUR CODE HERE
#raise NotImplementedError()

# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 10 rows should be fecthed
sample_number = 10
n_rows_to_skip = lines_in_file - sample_number
# rows_to_skip = ...
random.seed(42) # this is to get always the same sample. can be removed if we want the sample to change
rows_to_skip = random.sample(
    range(1, lines_in_file-1), # this is a range from the first row after the header, to the last row on the file
    n_rows_to_skip # this is the number of rows we want to random sample here, and that we will be skipped on pd.read_csv with argument skiprows
)
# YOUR CODE HERE
#raise NotImplementedError()
# Create a df8 dataframe with the sampled values
# don't forget: you want to keep the header plus 10 rows in the new dataframe.
# YOUR CODE HERE
#raise NotImplementedError()


df8= pd.read_csv('data/exercises/world_percentage_of_literacy.tsv',sep='\t',
    skiprows=rows_to_skip
)

In [143]:
df8['Gender difference'].str.replace('%', '').astype('float64').mean()

7.885714285714286

In [142]:
df8.dropna()

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,Albania,97.6%,98.4%,96.8%,1.6%
2,Bahrain,95.7%,96.9%,93.5%,3.5%
3,Ivory Coast,43.1%,53.1%,32.5%,20.6%
4,Iran,86.8%,91.2%,82.5%,8.7%
5,Serbia,98.1%,99.1%,97.2%,1.9%
8,Zambia,63.4%,70.9%,56.0%,14.9%
9,Zimbabwe,86.5%,88.5%,84.6%,4.0%

In [148]:
df8['index']=range(0,len(df8.index))

In [150]:
df8.set_index('index')

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
index,,,,,
0,Albania,97.6%,98.4%,96.8%,1.6%
1,Bahamas,not reported by UNESCO 2015,NaN,NaN,NaN
2,Bahrain,95.7%,96.9%,93.5%,3.5%
3,Ivory Coast,43.1%,53.1%,32.5%,20.6%
4,Iran,86.8%,91.2%,82.5%,8.7%
5,Serbia,98.1%,99.1%,97.2%,1.9%
6,Sweden,not reported by UNESCO 2015,NaN,NaN,NaN
7,Switzerland,not reported by UNESCO 2015,NaN,NaN,NaN
8,Zambia,63.4%,70.9%,56.0%,14.9%
9,Zimbabwe,86.5%,88.5%,84.6%,4.0%

In [129]:
! head -11 data/exercises/world_percentage_of_literacy.tsv

Country	Literacy rate (all)	Male literacy	Female literacy	Gender difference
World	86.3%	90.0%	82.7%	7.3%
Afghanistan	38.2%	52.0%	24.2%	27.8%
Albania	97.6%	98.4%	96.8%	1.6%
Algeria	80.2%	87.2%	73.1%	14.0%
Andorra	not reported by UNESCO 2015
Angola	71.1%	82.0%	60.7%	21.3%
Antigua and Barbuda	not reported by UNESCO 2015	99.0%(2013)[3][note 1]
Argentina	98.1%	98.0%	98.1%	-0.1%
Armenia	99.8%	99.8%	99.7%	0.1%
Australia	not reported by UNESCO 2015

In [136]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

expected_hash = '7559ca4a957c8c82ba04781cd66a68d6022229fca0e8e88d8e487c96ee4446d0'
assert hashlib.sha256(str(lines_in_file).encode()).hexdigest() == expected_hash, "lines_in_file are wrong"
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==10, "df8 size is wrong"

expected_hash = '4a44dc15364204a80fe80e9039455cc1608281820fe2b24f1e5233ade6af1dd5'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Gender difference`.
Note that:
* file should be read by chunks of 20 countries
* the missing values should be removed (filtered in each chunk)
* the `Gender difference` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

At the end, calculate the average `Gender difference`

Tip: Be sure you investigate the data you are about to load before doing any code.

In [164]:
chunks_iter = pd.read_csv('data/exercises/world_percentage_of_literacy.tsv', sep ='\t',
    chunksize=20
)

for data_chunk in chunks_iter:
    data_chunk2=data_chunk.dropna().reset_index(drop=True)
    print(data_chunk2)

        Country Literacy rate (all) Male literacy Female literacy  \
0         World               86.3%         90.0%           82.7%
1   Afghanistan               38.2%         52.0%           24.2%
2       Albania               97.6%         98.4%           96.8%
3       Algeria               80.2%         87.2%           73.1%
4        Angola               71.1%         82.0%           60.7%
5     Argentina               98.1%         98.0%           98.1%
6       Armenia               99.8%         99.8%           99.7%
7    Azerbaijan               99.8%         99.9%           99.7%
8       Bahrain               95.7%         96.9%           93.5%
9    Bangladesh       72.8%[note 2]         75.6%           69.9%
10      Belarus               99.7%         99.8%           99.7%
11       Belize               82.7%         82.3%           83.0%
12        Benin               38.4%         49.9%           27.3%

   Gender difference
0               7.3%
1              27.8%
2               1.6%
3              14.0%
4              21.3%
5              -0.1%
6               0.1%
7               0.2%
8               3.5%
9               5.7%
10              0.1%
11             -0.7%
12             22.6%
                     Country Literacy rate (all) Male literacy  \
0                     Bhutan               64.9%         73.1%
1                    Bolivia               95.7%         97.8%
2     Bosnia and Herzegovina               98.5%         99.5%
3                   Botswana               88.5%         88.0%
4                     Brazil               91.7%         91.4%
5                     Brunei               96.4%         97.7%
6                   Bulgaria               98.4%         98.7%
7               Burkina Faso                 36%         43.0%
8                    Burundi               85.6%         88.2%
9                 Cabo Verde               87.6%         92.1%
10                  Cambodia               77.2%         84.5%
11                  Cameroon                 75%         81.2%
12  Central African Republic               36.8%         50.7%
13                      Chad               40.2%         48.5%
14                     Chile               97.3%         97.4%
15                     China               96.4%         98.2%
16                  Colombia               94.7%         94.6%
17                   Comoros               77.8%         81.8%
18                     Congo               79.3%         86.4%

   Female literacy Gender difference
0            55.0%             18.1%
1            93.6%              4.2%
2            97.5%              2.1%
3            88.9%             -0.9%
4            92.1%             -0.7%
5            95.1%              2.6%
6            98.1%              0.7%
7            29.3%             13.7%
8            83.1%              5.1%
9            83.1%              9.0%
10           70.5%             13.9%
11           68.9%             12.3%
12           24.4%             26.4%
13           31.9%             16.6%
14           97.2%              0.2%
15           94.5%              3.7%
16           94.8%             -0.2%
17           73.7%              8.1%
18           72.9%             13.6%
                              Country Literacy rate (all) Male literacy  \
0   Congo, Democratic Republic of the               77.3%         88.9%
1                          Costa Rica               97.8%         97.7%
2                         Ivory Coast               43.1%         53.1%
3                             Croatia               99.3%         99.7%
4                                Cuba               99.7%         99.7%
5                              Cyprus               99.1%         99.5%
6                  Dominican Republic               91.8%         91.2%
7                             Ecuador               94.5%         95.4%
8                               Egypt               75.2%         83.2%
9                         El Salvador               88.4%         90.7%
10                  Equatorial Guinea               95.3%         97.4%
11                            Eritrea               73.8%         82.4%
12                            Estonia               99.8%         99.8%
13                           Ethiopia               49.1%         57.2%

   Female literacy Gender difference
0            66.0%             22.8%
1            97.8%             -0.1%
2            32.5%             20.6%
3            98.9%              0.7%
4            99.8%             -0.1%
5            98.7%              0.8%
6            92.3%             -1.1%
7            93.5%              1.8%
8            67.3%             16.0%
9            86.4%              4.3%
10           93.0%              4.4%
11           65.5%             16.9%
12           99.8%              0.0%
13           41.1%             16.1%
          Country Literacy rate (all) Male literacy Female literacy  \
0           Gabon               83.2%         85.3%           81.0%
1          Gambia               55.5%         63.9%           47.6%
2         Georgia               99.8%         99.8%           99.7%
3           Ghana               76.6%         82.0%           71.4%
4          Greece               97.7%         98.5%           96.9%
5       Guatemala               79.3%         84.7%           74.4%
6          Guinea               30.4%         38.1%           22.8%
7   Guinea-Bissau               59.9%         71.8%           48.3%
8          Guyana               88.5%         87.2%           89.8%
9           Haiti               60.7%         64.3%           57.3%
10       Honduras               88.5%         88.4%           88.6%
11        Hungary               99.1%         99.1%           99.0%
12          India               72.1%         80.9%           62.8%
13      Indonesia               93.9%         96.3%           91.5%
14           Iran               86.8%         91.2%           82.5%
15           Iraq               79.7%         85.7%           73.7%

   Gender difference
0               4.3%
1              16.3%
2               0.1%
3              10.7%
4               1.6%
5              10.4%
6              15.3%
7              23.5%
8              -2.6%
9               7.0%
10             -0.1%
11              0.2%
12             18.1%
13              4.7%
14              8.7%
15             11.9%
                                   Country Literacy rate (all) Male literacy  \
0                                    Italy               99.2%         99.4%
1                                  Jamaica               88.7%         84.0%
2                                   Jordan     97.9% (in 2012)         98.4%
3                               Kazakhstan               99.8%         99.8%
4                                    Kenya                 78%         81.1%
5   Korea, Democratic People's Republic of              100.0%        100.0%
6                                   Kuwait               96.2%         96.9%
7                               Kyrgyzstan               99.5%         99.6%
8                                     Laos               79.9%         87.1%
9                                   Latvia               99.9%         99.9%
10                                 Lebanon               93.9%         96.0%
11                                 Lesotho               79.4%         70.1%
12                                 Liberia               47.6%         62.4%
13                                   Libya                 91%         96.7%

   Female literacy Gender difference
0            99.0%              0.4%
1            93.1%             -9.1%
2            97.4%              1.0%
3            99.8%              0.0%
4            74.9%              6.2%
5           100.0%              0.0%
6            95.0%              1.9%
7            99.4%              0.2%
8            72.8%             14.3%
9            99.9%              0.0%
10           91.8%              4.1%
11           88.3%            -18.2%
12           32.8%             29.6%
13           85.6%             11.1%
       Country Literacy rate (all) Male literacy Female literacy  \
0    Lithuania               99.8%         99.8%           99.8%
1    Macedonia               97.8%         98.8%           96.8%
2   Madagascar               64.7%         66.7%           62.6%
3       Malawi               65.8%         73.0%           58.6%
4     Malaysia               94.6%         96.2%           93.2%
5     Maldives               99.3%         99.8%           98.8%
6         Mali               38.7%         48.2%           29.2%
7        Malta               94.1%         92.5%           95.7%
8   Mauritania               52.1%         62.6%           41.6%
9    Mauritius               90.6%         92.9%           88.5%
10      Mexico               94.4%         95.6%           93.3%
11     Moldova               99.4%         99.7%           99.1%
12    Mongolia               98.4%         98.2%           98.6%
13  Montenegro               98.7%         99.5%           98.0%
14     Morocco               72.4%         82.7%           62.5%
15  Mozambique               58.8%         73.3%           45.4%

   Gender difference
0               0.0%
1               2.0%
2               4.1%
3              14.4%
4               3.0%
5               0.9%
6              19.0%
7              -3.2%
8              21.0%
9               4.4%
10              2.2%
11              0.7%
12             -0.4%
13              1.4%
14             20.2%
15             27.9%
             Country Literacy rate (all) Male literacy Female literacy  \
0            Myanmar       75.6%[note 6]         80.0%           71.9%
1            Namibia               81.9%         79.2%           84.5%
2              Nepal               64.7%         75.6%           55.1%
3          Nicaragua               82.8%         82.4%           83.2%
4              Niger               19.1%         27.3%           11.0%
5            Nigeria               59.6%         69.2%           49.7%
6               Oman               94.8%         96.9%           90.0%
7           Pakistan               56.4%         69.6%           42.7%
8              Palau               99.5%         99.5%           99.6%
9             Panama                 95%         95.7%           94.4%
10  Papua New Guinea               64.2%         65.6%           62.8%
11          Paraguay               95.6%         96.1%           95.0%
12              Peru               94.5%         97.3%           91.7%
13       Philippines               96.3%         95.8%           96.8%
14            Poland               99.8%         99.9%           99.7%
15          Portugal               95.4%         96.9%           94.1%

   Gender difference
0               8.1%
1              -5.3%
2              20.5%
3              -0.9%
4              16.3%
5              19.5%
6               6.9%
7              26.9%
8              -0.1%
9               1.2%
10              2.8%
11              1.1%
12              5.6%
13             -1.0%
14              0.2%
15              2.8%
                  Country Literacy rate (all) Male literacy Female literacy  \
0                   Qatar               97.8%         97.9%           97.3%
1                 Romania               98.8%         99.1%           98.5%
2                  Russia               99.7%         99.7%           99.7%
3                  Rwanda               70.5%         73.2%           68.0%
4                   Samoa                 99%         98.9%           99.1%
5   Sao Tome and Principe               74.9%         81.8%           68.4%
6            Saudi Arabia               94.7%         97.0%           91.1%
7                 Senegal               55.7%         68.5%           43.8%
8                  Serbia               98.1%         99.1%           97.2%
9              Seychelles               95.2%         94.7%           95.7%
10           Sierra Leone               48.1%         58.7%           37.7%
11              Singapore               96.8%         98.7%           95.1%
12               Slovakia               99.6%         99.6%           99.6%
13               Slovenia               99.7%         99.7%           99.7%

   Gender difference
0               0.6%
1               0.6%
2               0.0%
3               5.2%
4              -0.2%
5              13.4%
6               5.9%
7              24.6%
8               1.9%
9              -1.0%
10             21.1%
11              3.6%
12              0.0%
13              0.0%
                         Country Literacy rate (all) Male literacy  \
0                   South Africa               94.3%         95.5%
1                    South Sudan               26.8%         34.8%
2                          Spain               98.1%         98.7%
3                      Sri Lanka               92.6%         93.6%
4                          Sudan               53.5%        59.80%
5                       Suriname               95.6%         96.1%
6                      Swaziland               87.5%         87.4%
7                          Syria               86.4%         91.7%
8                     Tajikistan               99.8%         99.8%
9   Tanzania, United Republic of               80.3%         84.8%
10                      Thailand               96.7%         96.6%
11                   Timor-Leste               67.5%         71.5%
12                          Togo               66.5%         78.3%
13                         Tonga               99.4%         99.3%
14           Trinidad and Tobago                 99%         99.2%
15                       Tunisia               81.8%         89.6%
16                        Turkey                 95%         98.4%
17                  Turkmenistan               99.7%         99.8%

   Female literacy Gender difference
0            93.1%              2.4%
1            19.2%             15.6%
2            97.5%              1.3%
3            91.7%              1.9%
4            46.7%             13.1%
5            95.0%              1.1%
6            87.5%             -0.1%
7            81.0%             10.7%
8            99.7%              0.1%
9            75.9%              9.0%
10           96.7%             -0.1%
11           63.4%              8.1%
12           55.3%             23.0%
13           99.4%             -0.1%
14           98.7%              0.5%
15           74.2%             15.4%
16           91.8%              6.6%
17           99.6%              0.1%
                 Country Literacy rate (all) Male literacy Female literacy  \
0                 Uganda               73.9%         80.8%           66.9%
1                Ukraine               99.8%         99.8%           99.7%
2   United Arab Emirates               93.8%         93.1%           95.8%
3                Uruguay               98.4%         98.1%           98.7%
4             Uzbekistan               99.6%         99.7%           99.5%
5                Vanuatu               85.2%         86.6%           83.8%
6              Venezuela               95.4%         95.0%           95.7%
7                Vietnam               94.5%         96.3%           92.8%
8                  Yemen               70.1%         85.1%           55.0%
9                 Zambia               63.4%         70.9%           56.0%
10              Zimbabwe               86.5%         88.5%           84.6%

   Gender difference
0              14.0%
1               0.1%
2              -2.6%
3              -0.6%
4               0.3%
5               2.8%
6              -0.7%
7               3.4%
8              30.1%
9              14.9%
10              4.0%

In [192]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
#raise NotImplementedError()
chunksize=20
chunks_iter = pd.read_csv('data/exercises/world_percentage_of_literacy.tsv', sep ='\t', header=0,
    chunksize=20
)

#indice=0
chunk_arr = []
for data_chunk in chunks_iter:
    data_chunk_filtered = data_chunk.dropna()
    data_chunk_filtered=data_chunk_filtered.reset_index(drop=True)
    data_chunk_filtered['Gender difference']=data_chunk_filtered['Gender difference'].str.replace('%', '').astype('float64')
    #data_chunk_filtered=data_chunk_filtered.reindex(index_)
    #indice += len(data_chunk_filtered.index) 
    chunk_arr.append(data_chunk_filtered)
    
df9 = pd.concat(chunk_arr, axis=0)
#index_=list(range(len(df9.index)))
df9=df9.reset_index(drop=True)
#df9.head()

# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
lit_avg=df9['Gender difference'].mean()
# YOUR CODE HERE
#raise NotImplementedError()

In [137]:
! head -10 data/exercises/world_percentage_of_literacy.tsv

Country	Literacy rate (all)	Male literacy	Female literacy	Gender difference
World	86.3%	90.0%	82.7%	7.3%
Afghanistan	38.2%	52.0%	24.2%	27.8%
Albania	97.6%	98.4%	96.8%	1.6%
Algeria	80.2%	87.2%	73.1%	14.0%
Andorra	not reported by UNESCO 2015
Angola	71.1%	82.0%	60.7%	21.3%
Antigua and Barbuda	not reported by UNESCO 2015	99.0%(2013)[3][note 1]
Argentina	98.1%	98.0%	98.1%	-0.1%
Armenia	99.8%	99.8%	99.7%	0.1%

In [209]:
df9['Literacy rate (all)'].apply(lambda x: x.split('%')[0]).astype('float64')

0      86.3
1      38.2
2      97.6
3      80.2
4      71.1
       ...
146    95.4
147    94.5
148    70.1
149    63.4
150    86.5
Name: Literacy rate (all), Length: 151, dtype: float64

In [194]:
expected_hash = 'cc63c8d6f0f9a8260d40b5c9a62d4fce5b693bab5750c90fd1f038ff64e37d6d'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash, "error on chunk_arr sizes"

assert df9.loc[df9['Country']=='World', 'Gender difference'].values[0] == 7.3, "df9 data is wrong"
assert df9.dtypes['Country'] == object, "df9 structure is wrong"
assert df9.dtypes['Gender difference'] == float, "df9 structure is wrong" 

expected_hash = 'c4d7d45402099baaea8a079580a4ef950016ef7403178f72e64ceb3738e4471d'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash, "lit_avg is wrong"

## Q10: Calculate average values of `Literacy All` using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incomplete rows and calculate the average of ***Literacy rate (all)*** without loading all data simultaneously. 

Use a similar approach of the previous question but don't create any dataframe neither any list with chunks; ***Hint: Use the average definition***

In [222]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b
# YOUR CODE HERE
#raise NotImplementedError()
#chunksize=20
chunks_iter = pd.read_csv('data/exercises/world_percentage_of_literacy.tsv', sep ='\t', header=0,
    chunksize=2
)

lit_a=0
lit_b=0

chunk_arr = []
for data_chunk in chunks_iter:
    data_chunk_filtered = data_chunk.dropna()
    data_chunk_filtered=data_chunk_filtered.reset_index(drop=True)
    data_chunk_filtered['Literacy rate (all)']=data_chunk_filtered['Literacy rate (all)'].apply(lambda x: x.split('%')[0]).astype('float64')

    lit_a += data_chunk_filtered['Literacy rate (all)'].sum()

    lit_b += len(data_chunk_filtered['Literacy rate (all)'])

    

print(lit_a)
print(lit_b)


final_avg=(lit_a/lit_b)
# YOUR CODE HERE
#raise NotImplementedError()
print(final_avg)

12569.8
151
83.24370860927152

In [223]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1), "final_avg is wrong"
assert lit_b==151 or lit_a==151, "lit_a or lit_b is wrong"
assert int(lit_b) == 12569 or int(lit_a)==12569, "lit_a or lit_b is wrong"